html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:"Microsoft Yahei";
  height: 100%;
}
img{
  cursor: pointer;
}
input{
  height: 35px !important;
}
code{
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
a{
  text-decoration:none;
}

.over_text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: #fff;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255,255,255);
  background: #fff ;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px rgb(255,255,255);
  background-color:rgb(255,255,255);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgb(255,255,255);
  background-color:rgb(255,255,255);
}